In [1]:
import pandas as pd
import os
from tensorflow import keras
from tensorflow.keras import layers

In [8]:
df = pd.read_csv('../data/preprocessed.csv')

In [9]:
df

     Pclass  Sex       Age  SibSp     Parch      Fare  Embarked  y
0       1.0  1.0  0.271174  0.125  0.000000  0.014151       1.0  0
1       0.0  0.0  0.472229  0.125  0.000000  0.139136       0.5  1
2       1.0  0.0  0.321438  0.000  0.000000  0.015469       1.0  1
3       0.0  0.0  0.434531  0.125  0.000000  0.103644       1.0  1
4       1.0  1.0  0.434531  0.000  0.000000  0.015713       1.0  0
..      ...  ...       ...    ...       ...       ...       ... ..
886     0.5  1.0  0.334004  0.000  0.000000  0.025374       1.0  0
887     0.0  0.0  0.233476  0.000  0.000000  0.058556       1.0  1
888     1.0  0.0  0.367932  0.125  0.333333  0.045771       1.0  0
889     0.0  1.0  0.321438  0.000  0.000000  0.058556       0.5  1
890     1.0  1.0  0.396833  0.000  0.000000  0.015127       0.0  0

[891 rows x 8 columns]

In [10]:
model = keras.Sequential([
    layers.Dense(4, activation='relu', input_shape=[33]),
    layers.Dense(4, activation='relu'),    
    layers.Dense(1, activation='sigmoid'),
])

In [11]:
model.compile(
    optimizer='adam',
    loss='binary_crossentropy',
    metrics=['binary_accuracy'],
)

In [ ]:
history = model.fit(
    X_train, y_train,
    validation_data=(X_valid, y_valid),
    batch_size=512,
    epochs=1000,
    verbose=0, # hide the output because we have so many epochs
)